/* regole generale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;
}
.bottone{
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 12px;
    border-style: none;
}

/* regole header */
header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    border-bottom: 1px solid grey;
}
.header-menu-left{
    display: flex;
    padding-right: 80px;
}
.menu-left{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.menu-right{
    display: flex;
    gap: 30px;
}
.header-menu-right{
    margin: 362px

}
.bt-header{
    width: 80px;
}

/* regole jumbotron */
.jumbotron{
    width: 100%;
    background-color: rgb(180, 208, 231);
    padding-top: 100px;
    
}

.conteiner-jumbotron{
    width: 62%;
    display: flex;
    margin: 0 auto;
}
h1{
    font-size: 80px;
    width: 62%;
    margin: 0 auto;
    font-weight: 700;
    padding-top: 60px;
}
.conteiner-jumbotron-foto-text{
    display: flex;
    padding-top: 35px;
}

.jumbotron-text{
    width: 40%;
    margin: 0 auto;
}
.bt-jumbotron{
    margin-top: 30px;
    display: block;
    margin-bottom: 30px;
}
.jumbotron-foto{
    width: 60%;

}
.jumbo{
    max-width: 100%;
}
.arrow{
    padding-top: 55px;
    font-size: 50px;
}

/* regole main */

/* regole generale selezione piani */
.testo-contenitore-piani{
    width: calc(50% - 20px);
    margin: 0 auto;
}
.fa-circle-dot{
    color: blue;
}
.menu-piani{
    display: flex;
    gap: 50px;
    margin: 50px 0;
}

.contenitore-colonna{
    display: flex;
    width: 50%;
    margin: 0 auto;
}

.border-bottom{
    padding-bottom: 35px;
    border-bottom: 1px solid grey;
}
.colonna{
    margin: 0 auto ;
    width: calc(100%/3 - 20px);
    border: 2px solid grey ;
}
.selezione-singolo-azien-team{
    border-bottom: 2px solid grey;
    text-align: center;
    padding: 10px 0;

}
.menu-proposte{
    margin-top: 25px;
}

.selezione-piano{
    margin: 20px 10px

}
h3{
    padding-bottom: 10px;
}
.prize{
    display: block;
}
.icone-abbonamenti{
    display: flex;
    padding: 14px 0;
}
.bt-selezione-piani{
    display: block;
    margin: 35px 0;
    padding: 12px 40px;
}
h5{
    padding: 10px 0;
    margin: 50px 0;
}
.marker{
    display: flex;
    padding: 10px 0;
}
.marker::before{
    content: "\2713";
    font-size: 20px;
    font-weight: bold;
    color: rgb(24, 57, 255);
}
.container-enterprice{
    width:calc(50% - 20px);
    margin: 30px auto;
    border: 2px solid grey;

}
.selezione-team{
    border-bottom: 2px solid grey;
    text-align: center;
    padding: 5px 0;
    
}
.titolo-enterprise{
    margin: 0px 0;
}
.enterprise{
    display: flex;
    align-items: flex-start;
    padding: 35px 25px;

}
.enterprise-testo{
    width: 70%;
}
.bt-enterprise{
    padding: 12px 35px;
}


/*sezione trova partner*/

.trova-partner{
    margin: 80px auto;
    width:calc(50% - 20px);
    display: flex;
    flex-direction: row-reverse;
}
.trova-partner-testo{
    width: 40%;
    padding-left: 35px;
}
#titolo-partner{
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 25px
}
.trova-partner-foto{
    width: 60%;
}
.img-partner{
    max-width: 100%;
}
.bt-partner{
    background-color: white;
    border: 1px solid grey;
    color: grey;
    margin-top: 40px;
    padding: 12px 20px;
}
/* operazioni dropbox business*/
.row{
    width: calc(50% - 20px);
    margin: 0 auto;
}
#titolo-dropbox-business{
    margin: 60px 0;
    font-size: 38px;
}
.colonne{
    display: flex;

}
.img-operazioni{
    max-width: 100%;
}
.azione-padding{
    padding-right: 35px;
}
.numero-team{
    width: 60%;
}
#titolo-numero-team{
    font-size: 35px;
}

/* porta la tua azienda */
.row-porta-azienda{
    margin-top: 100px;
}
.aziende-left{
    width: calc(100%/3);
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}
.img-aziende{
    object-fit: contain;
    max-width: 50%;
    position: absolute;
    left: 25%;
    bottom: 40%;
}
.quadrati{
    width: calc(100%/2);
    position: relative;
}
.designt{
    background-color: rgb(162, 211, 155);
    border: 20px solid rgb(209, 233, 205);
}

.asu{
    background-color: rgb(97, 8, 43);
}
.unf{
    background-color: rgb(0, 147, 206);
}
.topps{
    background-color: rgb(255, 28, 28);
}

.aziende-selezionata{
    width: calc(100%/3);
    overflow: auto;
    background-color: rgb(245, 245, 245);
    
}
.img-azienda-selezionata{
    width: 40%;
    margin: 40px;
}
#border-top{
    border-top:1px solid grey ;
    padding-top: 40px;
}
.testo-azienda-selezionata{
    margin: 35px 40px;
}
.aziende-rigth{
    width: calc(100%/3);
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}

.hearst-corp{
    background-color: rgb(180, 208, 231);
}

.lonely-planet{
    background-color: rgb(13, 36, 129);
}
.world-bicycle-relief{
    background-color: rgb(213, 0, 31);
}
.clear-channel{
    background-color: rgb(255, 216, 48);

}
.aziende-lungo-conteiner{
    width: 100%;
    height: 400px;
    background-color: rgb(180, 208, 231);
    display: flex;
}
.aziende-lungo-flex{
    width: calc(50% - 20px);
    margin:  auto;
    display: flex;
    align-items: center;
}
.azienda-lungo-testo{
    font-size: 40px;
    color: rgb(97, 8, 43);
    width: 60%;
}
.azienda-lungo-bottone{
    width: 40%;
    padding-left: 120px;
}
.bt-aziende{
    background-color: white;
    border: 2px solid grey;
    color: black;
    padding: 12px 35px;
}

/* regole faq */
h2{
    margin: 62px 0;
    font-size: 45px;
}
.sezione-faq{
    padding: 100px 0;
    width: calc(50% - 20px);
    margin: 0 auto;
}
.faq-conteiner{
    border-top: 1px solid black;
    padding: 35px 0;
}
.fa-angle-down{
    padding-left: 200px;
}
.faq-conteiner-bottom{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 35px 0;
}
h4{
    display: inline-block;}
/* regole footer */
.footer-conteriner{
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.footer-row{
    width: 65%;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    display: flex;
}
.footer-menu{
    width: calc(100%/5);
    background-color: rgb(0, 0, 0);
}
.footer-list{
    color: white;
    
}
.footer-list li{
    color: white;
    margin-top: 25px;
    
}
.footer-list li:first-child{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 100px;
}
.lenguage{
    color: grey;
    border-top: 2px solid grey;
    width: 40%;
    margin-top: 120px;
    padding: 24px 0;

}








