/* regole generale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;
}
.bottone{
    background-color: blue;
    color: white;
    padding: 10px;
    border-style: none;
}

/* regole header */
header{
    background-color: aqua;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
}
.header-menu-left{
    display: flex;
    padding-right: 80px;
}
.menu-left{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.menu-right{
    display: flex;
    gap: 30px;
}
.header-menu-right{
    margin: 362px

}
.bt-header{
    width: 80px;
}

/* regole jumbotron */
.jumbotron{
    width: 100%;
    background-color: aquamarine;
    padding-top: 100px;
    
}

.conteiner-jumbotron{
    width: 62%;
    display: flex;
    margin: 0 auto;
}
h1{
    font-size: 80px;
    width: 62%;
    margin: 0 auto;
    font-weight: 700;
    padding-top: 60px;
}
.conteiner-jumbotron-foto-text{
    display: flex;
    padding-top: 59px;
}

.jumbotron-text{
    width: 40%;
    margin: 0 auto;
}
.bt-jumbotron{
    margin-top: 48px;
    display: block;
    margin-bottom: 40px;
}
.jumbotron-foto{
    width: 60%;

}
.jumbo{
    max-width: 100%;
}
.arrow{
    padding-top: 50px;
    font-size: 60px;
}

/* regole main */

/* regole generale selezione piani */
.contenitore-colonna{
    display: flex;
    width: 50%;
    margin: 0 auto;
}

.cerchio{
    border: 2px blue solid;
    border-radius: 50%;
}
.colonna{
    margin: 0 auto ;
    width: calc(100%/3 - 20px);
    border: 2px solid grey ;
}
.selezione-singolo-azien-team{
    border-bottom: 2px solid grey;
    text-align: center;
    padding: 10px 0;

}

.selezione-piano{
    margin: 0px 10px

}
h3{
    padding-bottom: 10px;
}
.prize{
    display: block;
}
.icone-abbonamenti{
    display: flex;
    padding: 14px 0;
}
.bt-selezione-piani{
    display: block;
}
h5{
    padding: 10px 0;
}
.marker{
    display: flex;
    padding: 10px 0;
}
.marker::before{
    content: "\2713";
    font-size: 20px;
    font-weight: bold;
    color: rgb(4, 50, 45);
}
.container-enterprice{
    width:calc(50% - 20px);
    margin: 0 auto;
    border: 2px solid grey;

}
.selezione-team{
    border-bottom: 2px solid grey;
    text-align: center;
    
}
.enterprise{
    display: flex;
    align-items: flex-start;

}
.enterprise-testo{
    width: 70%;
}
.enterprise-bottone{
    width: 30%;
}


/*sezione trova partner*/

.trova-partner{
    margin: 0 auto;
    width:calc(50% - 20px);
    display: flex;
    flex-direction: row-reverse;
}
.trova-partner-testo{
    width: 40%;
}
.trova-partner-foto{
    width: 60%;
}
.img-partner{
    max-width: 100%;
}
.bt-partner{
    background-color: white;
    border: 1px solid grey;
    color: grey;
}
/* operazioni dropbox buisness*/
.row{
    width: calc(50% - 20px);
    margin: 0 auto;
}
.colonne{
    display: flex;

}
.img-operazioni{
    max-width: 100%;
}
.azione-padding{
    padding-right: 35px;
}
.numero-team{
    width: 30%;
}
.aziende-left{
    width: calc(100%/3);
    height: 640px;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}
.img-aziende{
    object-fit: contain;
    width: 200px;
    align-items: center;
}
.quadrati{
    width: calc(100%/2);
}
.designt{
    background-color: brown;
}
.asu{
    background-color: rgb(42, 52, 165);
}
.unf{
    background-color: rgb(42, 165, 42);
}
.topps{
    background-color: rgb(185, 24, 166);
}

.aziende-selezionata{
    width: calc(100%/3);
    background-color: rgb(7, 79, 55);
    overflow: auto;
    
}
.aziende-rigth{
    width: calc(100%/3);
    height: 640px;
    background-color: rgb(13, 226, 155);
    display: flex;
    flex-wrap: wrap;
}

.hearst-corp{
    background-color: rgb(185, 24, 166);
}

.lonely-planet{
    background-color: rgb(42, 165, 42);
}
.world-bicycle-relief{
    background-color: rgb(24, 24, 185);
}
.clear-channel{
    background-color: rgb(165, 42, 42);

}
.aziende-lungo-conteiner{
    width: 100%;
    height: 400px;
    background-color: aquamarine;
}
.aziende-lungo-flex{
    width: calc(50% - 20px);
    margin: 0 auto;
    display: flex;
}
.azienda-lungo-testo{
    font-size: 40px;
    color: brown;
    width: 60%;
}
.azienda-lungo-bottone{
    width: 40%;
}
.bt-aziende{
    background-color: white;
    border: 2px solid grey;
    color: black;
}

/* regole faq */
.sezione-faq{
    padding: 100px 0;
    width: calc(50% - 20px);
    margin: 0 auto;
}
.faq-conteiner{
    border-top: 2px solid black;
    padding: 10px 0;
}
.fa-angle-down{
    padding-left: 200px;
}
.faq-conteiner-bottom{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 0;
}
h4{
    display: inline-block;}
/* regole footer */

